# Exercício 09
✦ Use 3 dataframes criados na aula anterior, mostre 
apenas o filme/série/anime com maior pontuação.

In [2]:
import pandas as pd

series_df = pd.read_json('../aula_03-04/series.json')
movies_df = pd.read_json('../aula_03-04/movies.json')
animes_df = pd.read_json('../aula_03-04/animes.json')

df_merged = pd.concat([series_df, movies_df, animes_df])

df_merged['Notas'].max()

np.float64(5.0)

✦ Selecione apenas as 3 primeiras colunas do dataset </br>

In [3]:
df_merged.iloc[:, :3]

             Séries  Ano de Lançamento  Notas
0  Better Call Saul               2015    5.0
1      Breaking Bad               2008    5.0
2  The Walking Dead               2010    3.5
3        The Office               2005    4.5
4          The Boys               2019    4.0
0               NaN               2021    NaN
1               NaN               2023    NaN
2               NaN               2022    NaN
3               NaN               2018    NaN
4               NaN               2022    NaN
0               NaN               2012    5.0
1               NaN               2020    4.0
2               NaN               2013    4.5
3               NaN               2019    4.5
4               NaN               2015    4.5

✦ Selecione apenas as 10 primeiras linhas do dataset

In [4]:
df_merged.head(10)

,Séries,Ano de Lançamento,Notas,Filmes,Nota,Animes
0,Better Call Saul,2015,5.0,NaN,NaN,NaN
1,Breaking Bad,2008,5.0,NaN,NaN,NaN
2,The Walking Dead,2010,3.5,NaN,NaN,NaN
3,The Office,2005,4.5,NaN,NaN,NaN
4,The Boys,2019,4.0,NaN,NaN,NaN
0,NaN,2021,NaN,Esquadrão Suicida,4.5,NaN
1,NaN,2023,NaN,Homem-Aranha: Através do Aranhaverso,5.0,NaN
2,NaN,2022,NaN,The Batman,5.0,NaN
3,NaN,2018,NaN,Hereditário,4.0,NaN
4,NaN,2022,NaN,Gato de Botas: O último desejo,4.5,NaN

✦ Utilize uma função para identificar o valor médio

In [6]:
media_df = df_merged['Notas'].mean()
media_df

np.float64(4.45)

✦ Filtre o dataframe pegando apenas as linhas com valores maiores que essa média.

In [7]:
df_merged[df_merged['Notas'] > media_df]

,Séries,Ano de Lançamento,Notas,Filmes,Nota,Animes
0,Better Call Saul,2015,5.0,NaN,NaN,NaN
1,Breaking Bad,2008,5.0,NaN,NaN,NaN
3,The Office,2005,4.5,NaN,NaN,NaN
0,NaN,2012,5.0,NaN,NaN,Jojo's Bizzarre Adventures
2,NaN,2013,4.5,NaN,NaN,Attack on Titan
3,NaN,2019,4.5,NaN,NaN,Dororo
4,NaN,2015,4.5,NaN,NaN,One Punch Man

✦ Escolha uma coluna com valores textuais e filtre o dataframe pelo 1º valor

In [8]:
df_merged[df_merged['Séries'] == 'Better Call Saul']

             Séries  Ano de Lançamento  Notas Filmes  Nota Animes
0  Better Call Saul               2015    5.0    NaN   NaN    NaN

✦ Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente

In [9]:
df_merged.sort_values(by=['Ano de Lançamento'], ascending=False, na_position='first')

,Séries,Ano de Lançamento,Notas,Filmes,Nota,Animes
1,NaN,2023,NaN,Homem-Aranha: Através do Aranhaverso,5.0,NaN
4,NaN,2022,NaN,Gato de Botas: O último desejo,4.5,NaN
2,NaN,2022,NaN,The Batman,5.0,NaN
0,NaN,2021,NaN,Esquadrão Suicida,4.5,NaN
1,NaN,2020,4.0,NaN,NaN,Jujutsu Kaisen
3,NaN,2019,4.5,NaN,NaN,Dororo
4,The Boys,2019,4.0,NaN,NaN,NaN
3,NaN,2018,NaN,Hereditário,4.0,NaN
4,NaN,2015,4.5,NaN,NaN,One Punch Man
0,Better Call Saul,2015,5.0,NaN,NaN,NaN
2,NaN,2013,4.5,NaN,NaN,Attack on Titan
0,NaN,2012,5.0,NaN,NaN,Jojo's Bizzarre Adventures
2,The Walking Dead,2010,3.5,NaN,NaN,NaN
1,Breaking Bad,2008,5.0,NaN,NaN,NaN
3,The Office,2005,4.5,NaN,NaN,NaN

In [10]:
df_merged.sort_values(by=['Ano de Lançamento'], ascending=True, na_position='first')

,Séries,Ano de Lançamento,Notas,Filmes,Nota,Animes
3,The Office,2005,4.5,NaN,NaN,NaN
1,Breaking Bad,2008,5.0,NaN,NaN,NaN
2,The Walking Dead,2010,3.5,NaN,NaN,NaN
0,NaN,2012,5.0,NaN,NaN,Jojo's Bizzarre Adventures
2,NaN,2013,4.5,NaN,NaN,Attack on Titan
4,NaN,2015,4.5,NaN,NaN,One Punch Man
0,Better Call Saul,2015,5.0,NaN,NaN,NaN
3,NaN,2018,NaN,Hereditário,4.0,NaN
3,NaN,2019,4.5,NaN,NaN,Dororo
4,The Boys,2019,4.0,NaN,NaN,NaN
1,NaN,2020,4.0,NaN,NaN,Jujutsu Kaisen
0,NaN,2021,NaN,Esquadrão Suicida,4.5,NaN
4,NaN,2022,NaN,Gato de Botas: O último desejo,4.5,NaN
2,NaN,2022,NaN,The Batman,5.0,NaN
1,NaN,2023,NaN,Homem-Aranha: Através do Aranhaverso,5.0,NaN